<div class="nested-fields">
    <div class="field">
      <%= f.label :integrantes %>
      <br/>
      <%= f.text_field :integrantes %>
    </div>
    
    <%= link_to_remove_association "remove crew", f %>
  </div>